<h1>PROFILE VIEW</h1>
{{#with user}}

<h2>Welcome, {{name}}!</h2>

<h3>Personal information</h3>
<ul>
    <img src="{{imgPath}}" alt="{{imgName}}" width="150" height="150"> 
    <li>Name: {{name}}</li>
    <li>Username: {{username}}</li>
    <li>Interests:
        {{#each interests}}
          <ul>
              <li>{{this}}</li>
          </ul>
        {{/each}}
        <a href="/profile/edit">Edit your Interests</a>
    </li>
</ul>

<h3>Read Later Articles:</h3>

{{#if readLater}}
    {{#each readLater}}
        
        <a href="{{url}}">
            <h2>{{title}}</h2>
            <img src="{{urlToImage}}" alt="{{title}}" width="300" height="200">
        </a>
        
        <a href="/profile/readLater/{{_id}}/delete">❌</a>
    {{/each}}
{{else}}
<h4>There are no articles to Read Later</h4>
{{/if}}

{{/with}}


