<h1>Newsfeed</h1>

<a href="/profile">Go to profile</a>
{{#each article}}

<h2>{{title}}</h2>

<h3>{{author}}</h3>

<p>{{publishedAt}}</p>

<p>{{description}}</p>

<a href="{{url}}">{{url}}</a>

{{!-- <button onclick='(function(){ console.log('{{this}}'); })()'>Read later</button> --}}

<button onclick="getArticle({{json this}})"> Read Later</button>


{{/each}}
