<h1>Newsfeed</h1>

<a href="/profile">Go to profile</a>
{{#each article}}

<h2>{{title}}</h2>

<h3>{{author}}</h3>

<p>{{publishedAt}}</p>

<p>{{description}}</p>

<a href="{{url}}">{{url}}</a>


{{/each}}
