<h1>READ LATER</h1>
{{#with user}}

<h2>Hey {{name}}, here is the list of the articles you'd like to read</h2>

{{#if readLater}}
    {{#each readLater}}
        <a href="{{url}}"><h2>{{title}}</h2></a>
        <a href="{{url}}"><img src="{{urlToImage}}" alt="{{title}}" width="300" height="200"></a>
    {{/each}}
{{else}}
<h4>There are no articles you would like to read later</h4>
{{/if}}

{{/with}}